<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="TCA"
            id="TCA.commands.tcaCategory">
         <command
               categoryId="TCA.commands.tcaCategory"
               id="Create LCG"
               name="Create LCG">
         </command>
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="Create LCG"
            class="tca.handlers.CreateLCGHandler">
      </handler>
      <handler
            class="tca.handlers.LoopIterationInstrumentationHandler"
            commandId="Loop Iteration Counters">
      </handler>
      <handler
            class="tca.handlers.WallClockTimerInstrumentationHandler"
            commandId="Wall Clock Timers">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="TCA"
               mnemonic="T"
               id="TCA.menus.tcaMenu">
            <command
                  commandId="Create LCG"
                  mnemonic="L"
                  id="TCA.menus.createLCGCommand">
            </command>
            <menu
                  id="TCA.menus.instrumentationMenu"
                  label="Instrumentation"
                  mnemonic="I">
               <command
                     categoryId="TCA.commands.tcaCategory"
                     commandId="Wall Clock Timers"
                     id="TCA.commands.timerInstrumentationCommand"
                     mnemonic="T"
                     name="Wall Clock Timers">
               </command>
               <command
                     categoryId="TCA.commands.tcaCategory"
                     commandId="Loop Iteration Counters"
                     id="TCA.commands.counterInstrumentationCommand"
                     mnemonic="C"
                     name="Loop Iteration Counters">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>

</plugin>
